@if (result){
  <div  class="alert alert-info" role="alert">
    {{result}}
  </div>
}
<div class="d-flex justify-content-center mb-2">
  <input readonly class="form-control border-1 border-black" [(ngModel)]="data">
</div>
<div class="row row-cols-4 gap-0 row-gap-3">
  @for ( item of buttons;track item){
    <div class="col" [id]="item">
      <button [class.btn-danger]="item.isSignal" (click)="calculatedata(item)" class="btn w-100 btn-primary"
              >{{item.buttonText}}</button>
    </div>
  }
</div>
